@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Edu+SA+Beginner:wght@600&family=Manrope:wght@600&family=Mukta:wght@600&family=Red+Hat+Display&family=Tektur&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
}

#kw-logo {
    height: 35px;
}

#cartlogo {
    height: 25px;
    height: 25px;
}

.header-1 {
    display: flex;
    align-items: center;
}

.kw-back{
    background-image: url("https://github.com/Snegan29/kidz-world-html-boilerplate/blob/main/assets/kw-background.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

header {
    padding: 70px;
    margin: 20px;
    font-size: 30px;
    color: white;
    
}

h4 {
    color: gray;
}

h5 {
    color: white;
}


#items {
    height: 250px;
    width: 230px;
}

.Flexing {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 20px;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6196ff;
    border-radius: 5px;
}

.cart h5{
    margin: 5px;
}


.money{
    display: flex;
    justify-content: space-between;
}


#cart-logo {
    height: 19px;
    width: 20px;
    padding: 5px;
}

#cartTotal{
    padding:5px;
}

button {
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    color: white;
    background-color: black;
}

#item {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

@media (max-width:500px) {
    .Flexing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .kw-back{
        background-image: url("https://github.com/Snegan29/kidz-world-html-boilerplate/blob/main/assets/kw-background.png?raw=true");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;

    }
    header{
        padding-top: 7%;
        font-size: 8px;
        color: white;   
    }

    .Part-1 div {
        padding: 5px;
    }

    
}